<ion-header>
  <ion-toolbar>
    <ion-title>
      Heart rate limits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input [(ngModel)]="age" type="number" step="1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Upper</ion-label>
      <ion-input value="{{upper}}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lower</ion-label>
      <ion-input value="{{lower}}" readonly></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button block (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
